<nav class="navbar">
    <div class="container is-fluid">
        <div class="navbar-brand">
            <span class="navbar-burger burger" data-target="navbarMenuHeroA">
                <span></span>
                <span></span>
                <span></span>
            </span>
        </div>
        <div id="navbarMenuHeroA" class="navbar-menu">
            <div class="navbar-end">
                <div class="navbar-item">
                    <div class="field">
                        <div class="control has-icons-left">
                            <input type="text" class="input">
                            <span class="icon is-small is-left">
                                <i class="fas fa-search"></i>
                            </span>
                        </div>
                    </div>
                </div>
                <div class="navbar-item">
                    <a>
                        <span><i class="fas fa-bell"></i></span>
                    </a>
                </div>
                <div class="navbar-item has-dropdown is-clickable is-hoverable">
                    <a class="navbar-link">
                        <span><i class="fas fa-user-circle"></i></span>
                    </a>
                    <div class="navbar-dropdown is-right">
                        <a class="navbar-item">
                            Account
                        </a>
                        <a class="navbar-item">
                            Logout
                        </a>
                        <hr class="navbar-divider">
                        <div class="navbar-item">
                            Version 0.9.0.0
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</nav>